nOT uSING tHIS PAGE 

   <ul class="merchant-list">
    <li><a href="#">Fuel<i class="fa fa-car" aria-hidden="true"></i></a></li>
    <li><a href="#">Light Bill<i class="fa fa-bolt" aria-hidden="true"></i></a></li>
    <li><a href="#">Grocery<i class="fa fa-glass" aria-hidden="true"></i></a></li>
    <li><a href="#">Emi<i class="fa fa-university" aria-hidden="true"></i></a></li>
    <li><a href="#">Transportation<i class="fa fa-taxi" aria-hidden="true"></i></a></li>
    <li><a href="#">Medical<i class="fa fa-hospital-o" aria-hidden="true"></i><a></li>
    <li><a href="#">gym<i class="fa fa-child" aria-hidden="true"></i></a></li>
    <li><a href="#">Credit card Bill<i class="fa fa-cc-visa" aria-hidden="true"></i></a></li>
    <li><a href="#">Cabel Connection<i class="fa fa-television" aria-hidden="true"></i></a></li>
    {% comment %} <li><a href="#">Trip<i class="fa fa-plane" aria-hidden="true"></i></a></li> {% endcomment %}
    <li><a href="#">Holiday Expense<i class="fa fa-cutlery" aria-hidden="true"></i></a></li>
    <li><a href="#">Maintance<i class="fa fa-wrench" aria-hidden="true"></i></a></li>
    <li><a href="#">phone bill<i class="fa fa-mobile" aria-hidden="true"></i>
  </ul>
  
<style>

    .merchant-list {
        background-color: #ffffff;
        padding: 10px;
        list-style: inside;
        margin-left: 45pc;
      }
      
      .merchant-list li {
        margin: 5px 0;
        font-size: 30px;
      }
      
      .merchant-list a {
        color: #000000;
        text-decoration: none;
        text-transform: capitalize;
      }
      
</style>
<a href="{% url 'dashboard' %}" class="button">Back to Dashboard</a>
<style>
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .button:hover {
    background-color: #0069d9;
  }
</style>

</body>
</html> 